{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Profiles</h1>
<div class="row">
{% for profile in profiles %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static profile.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ profile.title }}</h5>
                <p class="card-text">{{ profile.description }}</p>
                <a href="{% url 'profile_detail' profile.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}